# No public editing and account creating
${DOLLAR}wgGroupPermissions['*']['edit'] = false;
${DOLLAR}wgGroupPermissions['*']['createaccount'] = false;

# Logo
${DOLLAR}wgLogo = "https://static.wixstatic.com/media/7c44cd_cd408751dbf04ec3b2c5b24dfb2dbc55~mv2.png/v1/fill/w_156,h_48,al_c,q_85,usm_0.66_1.00_0.01/7c44cd_cd408751dbf04ec3b2c5b24dfb2dbc55~mv2.webp";


# sitelink empty
${DOLLAR}wgWBRepoSettings['siteLinkGroups'] = [];
${DOLLAR}wgWBRepoSettings['specialSiteLinkGroups'] = [];
